.container {

  margin: auto;
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background: #f9f9f9;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

a {
  display: block;
  font-size: 14px;
  color: blue;
  text-decoration: none;
}
